<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>videoplay</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<input type="hidden" id="username" th:value="${username}"/>
<nav class="flex-div">
  <div class="nav-left flex-div"  >
    <img th:src="@{/images/menu.png}" class="menu-icon" >
    <img th:src="@{/images/logo.png}" class="logo-icon">
  </div>
  <div class="nav-middle flex-div">
    <div class="search-box flex-div" >
      <input type="text" name="keyword" placeholder="Search">
      <img th:src="@{/images/search.png}">
    </div>
    <img th:src="@{/images/voice-search.png}" class="mic-icon">
  </div>
  <div class="nav-right flex-div" >
    <a href="/manage"><img th:src="@{/images/upload.png}"></a>
    <img th:src="@{/images/more.png}">
    <a href="/logout"><img th:src="@{/images/th.jpg}"></a>
    <div class="avatar-container">
      <canvas id="avatarCanvas" width="50" height="50"></canvas>
    </div>
  </div>

</nav>
<div class="container play-container" >
  <div class="row">
     <div class="play-video">
       <video controls autoplay>
            <source th:src="${video.getVideoFile()}" type="video/mp4" >
       </video>
       <h3 th:text="${video.getTitle()}"></h3>
       <div class="play-video-info">
         <p th:text="${video.getViews()}"></p>
         <div>
           <a href=""><img th:src="@{images/like.png}">125</a>
           <a href=""><img th:src="@{images/dislike.png}">2</a>
           <a href=""><img th:src="@{images/share.png}">Share</a>
           <a href=""><img th:src="@{images/save.png}">Save</a>
         </div>
       </div>
       <hr>
       <!--<div class="publisher">
         <div class="avatar-container">
           <canvas id="avatarCanva" width="50" height="50"></canvas>
         </div>
         <div>
           <p>Yahoooo</p>
           <span>s</span>
         </div>
         <button type="submit">Subscribe </button>
       </div>-->
       <div class="vid-description">
         <p th:text="${video.getDescription()}"></p>
       </div>
       <hr>
       <h4>134 Comments</h4>
       <div class="add-comment flex-div">
        <!-- <img th:src="@{/images/Jack.png}">-->
         <form method="get" th:action="@{addcomment}" class="form-inline">
           <input type="hidden" name="id" th:value="${id} " class="form-control mr-2">
           <input type="text" name="content" th:value="${contenu}" class="form-control mr-2"/>
           <button type="submit">
             Submit
           </button>
         </form>
       </div>

       <div class="old-comment" th:each="c:${comments}">
         <div >
           <h3 th:text="${c.getCommenters().getUsername()}"> </h3>
             <p th:text="${c.getCommentText()}" ></p>
           <div class="comment-action">
             <img th:src="@{/images/like.png}">
            <span>244</span>
             <img th:src="@{/images/dislike.png}">
             <span>2</span>

           </div>
         </div>
       </div>

     </div>
    <div class="right-sidebar">
      <div class="side-video-list" th:each="v:${videos}">
        <a href="" class="small-thumbnail"><img th:src="${v.getThumbnailFile()}"> </a>
        <div class="vid-info">
          <a th:text="${v.getTitle()}"> video title</a>
          <p th:text="${username}"></p>
        </div>
      </div>
     </div>

  </div>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>